<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatDEVs</title>
    <link rel = "stylesheet" href ="/static/css/welcome.css">
    <style>

    </style>
</head>
<body>
<div class = "welcome">
    <p>Welcome To ChatDEVs</p>
</div>
<div class="message">
    <p>
        ChatDevs is a social platform that connects developers worldwide through real-time messaging.
        The platform enables coders to share knowledge, solve problems together,
        and build professional relationships through both private chats and public discussions.
        Whether seeking technical help or casual networking, ChatDevs provides a space where developers of all skill levels can collaborate and grow together.</p>
    <div class = "signUp">
        <a style="color:#F5F5DC" href="/signup"  >Sign Up</a>
</div>
    <div class="logIn">
        <a href="/login" style="color:#F5F5DC">Login</a>
    </div>
</div>
</body>
</html>